$primary-color: #111;
$secondary-color: #777;

.title {
	  color: $primary-color;
}

.gameListItem{
	border-color: $secondary-color;
}

h1 { 
	text-align: center;
 }

/*The styles needed for the signup module*/

 @import url("../js/modules/ok-game/ok-game-info.css");  