input[type="button"]{
	background-color: #DDDDDD;
	border: 1px solid black;
}
.gameList{
	list-style: none;
	-webkit-padding-start: 1px;
	padding-start: 1px;
}
.gameListItem{
	padding-top: .25em;
	margin-bottom: .25em;
	border-top-width: 1px;
	border-top-style: solid;
}
